node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Ignorar archivos de configuración locales
.env.local
.env.development.local
.env.production.local

# Ignorar directorios del editor de código
.vscode/
.idea/

# Ignorar logs
logs
*.log
*.log.*

# Archivos temporales del sistema
.DS_Store
*.swp
